// 프리텐다드 폰트
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");


#root {
    display: grid;
    height: 90vh;
    place-items: center;
    font-family: 'Pretendard';
    font-size: 20px;

    .timer {
        text-align: center;
        label {
            cursor: pointer;
        }
        #timerCheck {
            display: none;
            border: 1px solid black;
    
        }
    }




}